<div class="bubble">
  <div class="bubble__table">
    <table>
      <tbody>
        <tr>
          <td id="number0">0</td>
          <td id="number1">0</td>
          <td id="number2">0</td>
          <td id="number3">0</td>
          <td id="number4">0</td>
          <td id="number5">0</td>
          <td id="number6">0</td>
          <td id="number7">0</td>
          <td id="number8">0</td>
        </tr>
        <tr>
          <td id="number9">0</td>
          <td id="number10">0</td>
          <td id="number11">0</td>
          <td id="number12">0</td>
          <td id="number13">0</td>
          <td id="number14">0</td>
          <td id="number15">0</td>
          <td id="number16">0</td>
          <td id="number17">0</td>
        </tr>
        <tr>
          <td id="number18">0</td>
          <td id="number19">0</td>
          <td id="number20">0</td>
          <td id="number21">0</td>
          <td id="number22">0</td>
          <td id="number23">0</td>
          <td id="number24">0</td>
          <td id="number25">0</td>
          <td id="number26">0</td>
        </tr>
        <tr>
          <td id="number27">0</td>
          <td id="number28">0</td>
          <td id="number29">0</td>
          <td id="number30">0</td>
          <td id="number31">0</td>
          <td id="number32">0</td>
          <td id="number33">0</td>
          <td id="number34">0</td>
          <td id="number35">0</td>
        </tr>
        <tr>
          <td id="number36">0</td>
          <td id="number37">0</td>
          <td id="number38">0</td>
          <td id="number39">0</td>
          <td id="number40">0</td>
          <td id="number41">0</td>
          <td id="number42">0</td>
          <td id="number43">0</td>
          <td id="number44">0</td>
        </tr>
        <tr>
          <td id="number45">0</td>
          <td id="number46">0</td>
          <td id="number47">0</td>
          <td id="number48">0</td>
          <td id="number49">0</td>
          <td id="number50">0</td>
          <td id="number51">0</td>
          <td id="number52">0</td>
          <td id="number53">0</td>
        </tr>
        <tr>
          <td id="number54">0</td>
          <td id="number55">0</td>
          <td id="number56">0</td>
          <td id="number57">0</td>
          <td id="number58">0</td>
          <td id="number59">0</td>
          <td id="number60">0</td>
          <td id="number61">0</td>
          <td id="number62">0</td>
        </tr>
        <tr>
          <td id="number63">0</td>
          <td id="number64">0</td>
          <td id="number65">0</td>
          <td id="number66">0</td>
          <td id="number67">0</td>
          <td id="number68">0</td>
          <td id="number69">0</td>
          <td id="number70">0</td>
          <td id="number71">0</td>
        </tr>
        <tr>
          <td id="number72">0</td>
          <td id="number73">0</td>
          <td id="number74">0</td>
          <td id="number75">0</td>
          <td id="number76">0</td>
          <td id="number77">0</td>
          <td id="number78">0</td>
          <td id="number79">0</td>
          <td id="number80">0</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form class="bubble__btns">
    <input class="bubble__btns__btn" type="submit" value="乱数の作成" (click)="createRandam()" />
    <input class="bubble__btns__btn" type="submit" value="全並び替え" (click)="allBubbleSort()" />
    <input class="bubble__btns__btn" type="submit" value="部分並び替え" (click)="partBubbleSort()" />
    <input class="bubble__btns__btn" type="submit" value="自動処理" (click)="autoBubbleSort()" />
    <input class="bubble__btns__btn" type="submit" value="リセット" (click)="numberReset()" />
  </form>
</div>
